/*     ----- RESET -----      */
* {box-sizing: border-box; margin: 0; padding: 0;}
img {max-width: 100%;height: auto;}
body {background-color: #a5a5a5; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.container {width: 1160px; margin: 0 auto;}
.divider {padding: 25px 0;}
.spacer {padding: 75px 0;}

/* -------------------------
            header
-------------------------- */